/* !typography */
@include establish-baseline;

body {
	background: $black;
	font-family:"DIN Next W01 Regular", "Helvetica", Arial, sans-serif;
	font-weight: 400;
	color: $white;
	@include improve-text-rendering;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DIN Next W01 Black", "Helvetica", Arial, sans-serif;
	text-transform: uppercase;
	span {
		color: $primary;
	}
}


h1 {
	@include adjust-font-size-to(ms(6, $base-font-size), 2.2);
	@include rhythm(0,0,0,0.25);
}
h2 {
	@include adjust-font-size-to(ms(4, $base-font-size), 1.3);
	@include rhythm(0.5,0,0,0.25);
	font-weight: 400;
}
h3 {
	@include adjust-font-size-to(ms(3, $base-font-size), 1.5);
	@include rhythm(0,0,0,0.5);
	font-weight: lighter;
}
h4 {
	font-family:"DIN Next W01 Regular", "Helvetica", Arial, sans-serif;
	@include adjust-font-size-to(ms(1, $base-font-size), 1.3);
	@include rhythm(0,0,0,0.5);
	text-transform: inherit;
	font-weight: lighter;
}
h5 {
	@include adjust-font-size-to(ms(1, $base-font-size), 1.2);
	@include rhythm(0,0,0,0.25);
}
h6 {
	@include adjust-font-size-to(17px);
}
p {
	@include adjust-font-size-to(ms(0, $base-font-size));
	@include rhythm(0,0,0,0.5);
	font-weight: 600;
	span {
		color: $primary;
	}
}
a {
	color: $links;
	text-decoration: none;
	@include single-transition(all, 260ms, linear);
}
hr {
	border: none;
	border-top: 1px solid tint($black, 88%);
	@include clearfix;
	width: 100%;
	height: $spacer/2;
}
table {
	width: 100%;
	td {
		font-weight: bold;
		text-transform: uppercase;
		padding: $spacer/4 0;
	}
}